.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  margin-bottom: 50px;
}

.form {
  margin-top: 150px;
  width: 880px;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  box-shadow: 0 0 7px #fffff4, 0 0 10px #fff780;
  padding: 20px 30px;
  padding-bottom: 20px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.title {
  margin: 10px 0;
  width: 100%;
  text-align: left;
  font-family: "Russo One", sans-serif;
  font-weight: bolder;
  color: rgb(0, 255, 255);
  /* border-bottom: solid 1.5px rgb(247, 223, 180); */
}

.inputsContainer {
  display: flex;
  width: 820px;
  gap: 0;
}

.column {
  width: 50%;
}

.inputErrorCont {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: -20px;
  height: max-content;
  width: 90%;
}

.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  color: azure;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #a5b5fb;
}
.input:focus {
  border-bottom: 2px solid rgb(142, 255, 255);
}
.input::placeholder {
  color: rgb(142, 255, 255);
}

.paragraph:before {
  text-align: left;
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #a5b5fb;
}

.button {
  width: 125px;
  height: 40px;
  margin-top: 30px;
  border-radius: 10px;
  padding: 0;
  background-color: transparent;
  font-size: 20px;
  color: #a7fff8;
  font-family: "Russo One", sans-serif;
  font-weight: bolder;
  text-decoration: rgb(0, 255, 255);
  box-shadow: 0 0 7px #d4fffd, 0 0 10px #a7fff8;
  cursor: pointer;
}

.disabledBtn {
  width: 125px;
  height: 40px;
  margin-top: 30px;
  border-radius: 10px;
  padding: 0;
  background-color: transparent;
  font-size: 20px;
  color: #6a6d6d;
  font-family: "Russo One", sans-serif;
  font-weight: bolder;
  box-shadow: 0 0 7px #b8b8b8, 0 0 10px #445f5d;
}

.disabledBtn:hover {
  color: #6a6d6d;
  box-shadow: 0 0 7px #b8b8b8, 0 0 10px #445f5d;
}

button:hover {
  box-shadow: 0 0 7px #91fff9, 0 0 10px #0fa;
  color: #a5b5fb;
}

.select {
  width: 100%;
  background-color: transparent;
  color: #a7fff8;
  margin-top: 10px;
  padding: 5px;
}

.select::-webkit-scrollbar {
  width: 5px;
}

.select::-webkit-scrollbar-thumb {
  background-color: #a7fff8;
  border-radius: 6px;
}

.select:focus {
  border-bottom: 2px solid rgb(142, 255, 255);
}

.selectedGenres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding-bottom: 0;
}

.selected {
  padding-bottom: 0;
  margin-bottom: -7px;
  text-align: left;
  font-size: 14px;
  color: #a5b5fb;
}

.errors {
  width: 100%;
  color: red;
  margin-bottom: -7px;
  text-align: left;
  font-size: 12px;
}

@media (max-width: 768px) {
  .container {
    width: 390px;
  }
  .form {
    margin-top: 250px;
    width: 320px;
    padding-left: 10px;
  }
  .input {
    width: 70%;
    margin-left: -100px;
  }
  .inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .select {
    width: 60%;
    margin-left: -150px;
  }
  .column {
    top: 0px;
    bottom: 0px;
  }
}
