:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 50px;
  background-size: cover;
  background-position: center;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root::-webkit-scrollbar {
  width: 5px;
}

:root::-webkit-scrollbar-thumb {
  background-color: #a7fff8;
  border-radius: 6px;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  place-items: center;
  min-width: 320px;
  background-size: cover;
  background-position: center;
  text-decoration: none;
}
a {
  text-decoration: none;
}
a:visited,
a:focus {
  color: inherit;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;

    background-size: cover;
    background-position: center;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
